<p class="text-lg font-medium">Import assets from excel file.</p>
<p class="text-secondary mb-6">
    Click the import button to import a data from excel.
</p>

<div class="flex">
    <div class="flex items-center justify-center ">
        <label class="flex flex-col items-center px-4 py-6 bg-white text-blue-500 rounded-lg shadow-lg tracking-wide uppercase border border-blue-500 cursor-pointer hover:bg-blue-500 hover:text-white">
            <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M16.88 8.12L11 14V2H9v12L3.12 8.12l-1.25 1.25 7.13 7.13a1.004 1.004 0 001.41 0l7.13-7.13-1.25-1.25z"/></svg>
            <span class="mt-2 text-base leading-normal">Import File</span>
            <input type="file" class="hidden" />
        </label>
    </div>    
</div>
